.app {
  font-family: Roboto;
  color: #363636DE;
    line-height: 19px;
    letter-spacing: 0.15px;
    vertical-align: middle;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.role-selector {
  max-width: 400px;
  width: 100%;
  text-align: left;
}

.role-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

h2{
  text-align: center;
  margin-bottom: 45px;
}

.role-card {
display: flex;
align-items: flex-start;
border: 1px solid #757575;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px #00000040;
padding: 14px 20px 0px;
cursor: pointer;
background-color: white;
gap: 14px;
transition: all 0.3s;
}

.role-card.selected {
  border: 1px solid #376FDB;
  background-color: #376FDB1A;
}

.role-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 20px 0 auto 0;
  padding: 10px 20px;
  background-color: #376FDB;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.next-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.role-list-button {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.button-container {
display: flex;
justify-content: flex-end;
width: 100%;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

#firstName, #lastName {
  padding: 0 8px;
  height: 40px;
  width: 362px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

#fistName:active, #lastName:active {
      box-shadow: 0px 4px 4px 0px #00000040; 
}

.name-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gender-h3 {
  margin: 0;
}

.gender-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gender-items {
  display: flex;
  gap: 16px;
  align-items: center;

}

#other-gender-container {
  border: 1px solid #E5E5E5;
  width: 138px;
  height: 36px;
  border-radius: 5px;

}

.BasicInfo-1 {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.phone-container {
  display: flex;
  gap: 6px;
}

.select-container {
  width: 72px;
  height: 40px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  color: #363636DE;
}

.phoneNumber-container {
  width: 296px;
  height: 37px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  align-items: center;
}

.phoneNumber-container:active {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.buttons-prev-cont-container {
  color: #323232;
  display: flex;
  justify-content: space-between;
}

#button-previous {
  display: flex;
  border: none;
  background-color: white;
  align-items: center;
  gap: 8px;
  padding: 0;
}

#button-continue {
  width: 92px;
  height: 36px;
  color: white;
  background-color: #376FDB;
  border-radius: 4px;
  border: none;
}
.h3-basicInfo2 {
  font-family: Roboto;
  font-size: 18px;
  margin: 0;
}

.BasicInfo2{
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 388px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 20px;
}

.category-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 12px;
}

input[type="checkbox" i] {
  height: 18px;
  width: 18px;
  border-color: #7E7E7E;
}

.email-password-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
#email, #password {
width: 362px;
height: 40px;
border: 1px solid #E0E0E0;
border-radius: 4px;
padding: 0 12px;
}

.password-instruction {
  margin-top: 0;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #0000008A;
}

.buttons-previous-submit {
  display: flex;
  justify-content: space-between;
}

